body {
  text-align: center;
  background-image: linear-gradient(120deg, #84faaf1a 0%, #8fd2f418 100%);
  font-size: 25px;
}

nav {
  box-shadow: 0px 5px 30px -15px #000000;
}

main {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 90%);
}
main.disabled {
  opacity: 1;
  filter: blur(4px);
  filter: brightness(0.3);
}

.barraLateral {
  z-index: 10;
  position: fixed;
  transform: translateX(-250px);
  margin: 0;
  width: 250px;
  height: 100vh;
  background-color: #fdfdfd;
  box-shadow: 1px 0px 35px -10px #000000;
}
.barraLateral.active {
  transform: translateX(0px);
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
}

li a:hover {
  background-color: #d2f0ff;
}

.banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(32, 65%, 83%);
  -webkit-box-shadow: inset 0px -7px 20px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -7px 20px 5px rgba(0, 0, 0, 0.4);
}
.banner img {
  width: 70%;
  height: 80%;
  transform: scale(1.25);
  filter: brightness(0.8);
}
.banner .cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.contenido {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 250px);
}

.contenido img {
  width: 240px;
  height: 240px;
  -webkit-box-shadow: 5px 8px 15px -7px #000000;
  box-shadow: 5px 8px 15px -7px #000000;
}

.grillaProductos {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  scroll-behavior: auto;
  max-height: 100vh;
  height: 100vh;
  scrollbar-width: none;
  /* Firefox */
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
}

.grillaProductos::-webkit-scrollbar {
  display: none;
}

aside#video {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
}

video {
  width: 320px;
  height: 320px;
  margin: 20px;
  margin-top: 42px;
  box-shadow: 1px 3px 35px -10px #000000;
}

.registro {
  display: block;
  text-align: left;
}

#form-cont {
  padding: 25px 35px;
  margin-left: 200px;
  height: 500px;
}

.navbar {
  padding: 0 !important;
}
